 Host dev-webserver
    port 2378
    HostName 103.132.162.166
    user root
    IdentityFile ~/.ssh/kcy@7coin

 Host dev-redis-cluster
    port 2378
    HostName 51.79.213.21
    user root
    IdentityFile ~/.ssh/kcy@7coin

 Host prod-ws
    port 2378
    HostName 103.132.162.165
    user root
    IdentityFile ~/.ssh/kcy@7coin

 Host prod-webserver
    port 2378
    HostName 103.132.162.167
    user root
    IdentityFile ~/.ssh/kcy@7coin

 Host prod-db
    port 2378
    HostName 103.132.162.168
    user root
    IdentityFile ~/.ssh/kcy@7coin
	
 Host prod-ws
    port 2378
    HostName 103.132.162.165
    user root
    IdentityFile ~/.ssh/kcy@7coin

 Host prod-cron
    HostName 51.79.213.24
    user root
    IdentityFile ~/.ssh/kcy@7coin
