set hlsearch
set incsearch
set ignorecase
set smartcase
set showmode
set number
set relativenumber
set scrolloff=3
set history=100000
inoremap jk <Esc>
nmap g] :action GotoImplementation<CR>
let mapleader=","
set easymotion
// sytem clipboard support
set clipboard+=unnamed
