Host github.com
   HostName github.com
   user git
   IdentityFile ~/.ssh/github_rsa

Host bitbucket.org
    HostName bitbucket.org
    user git
    IdentityFile ~/.ssh/id_rsa_bitbucket

Host rasp_pi
   user scope 
   HostName 119.77.244.141

Host BPI
    HostName 192.168.1.108


Host JLab
    HostName 140.114.71.56

Host logos
    HostName logos.cs.nthu.edu.tw
    user jordan
    IdentityFile ~/.ssh/logos_rsa

Host whale
    HostName whale.cs.nthu.edu.tw
    user jordanhuang
    port 13579
    IdentityFile ~/.ssh/whale_rsa

Host sheep
    HostName 140.114.75.139
    user root

Host wolf
    HostName 140.114.75.140
    IdentityFile ~/.ssh/wolf_rsa
    Compression yes
    Ciphers blowfish-cbc,arcfour
    ForwardX11 Yes
    # Ciphers blowfish-cbc,arcfour
    # RemoteForward 55555 localhost:22
   
Host cubietruck
    HostName 140.114.236.74
    IdentityFile ~/.ssh/cubietruck_rsa
Host SCOPE
    HostName 140.114.85.218
    ForwardX11 Yes
    Compression yes
    IdentityFile ~/.ssh/id_SCOPElab
    LocalForward 8888 localhost:8888
    LocalForward 5902 localhost:5902
    port 10655
Host tk1
    HostName 140.114.85.218 
    IdentityFile ~/.ssh/cubietruck_rsa
    port 10666

HOST scopen
    HostName 140.114.91.176
    # User scope
    # LocalForward 8888 localhost:8888
    # LocalForward 5902 localhost:5902
Host *
